<div class="inputgroup">

        <label  *ngIf="haslabel"
                [style.font-style]="fontstyle"
                [style.font-family]="fontfamily"
                [style.font-size]="fontsize">
                {{fieldlabel}}
        </label>

        <div class="input-container "
                [ngClass]="{'input-error': ((model.dirty || model.touched || (value && value.length>0)) && !model.valid),
                        'input-disabled' : disabled}">
                <em [ngClass]="prefixiconclass"></em>
                <input  type="text" name="name"
                        class="input-control"
                        [required]="!allowblank"
                        [pattern]="regEx"
                        [placeholder]="placeholder"
                        [disabled]="disabled"
                        [maxlength]="maxlength"
                        [minlength]="minlength"
                        (focus)="focus($event)"
                        (blur)="blur($event)"
                        (change)="change($event)"
                        [(ngModel)]="value"/>
                <em *ngIf="(iconfeedback && (model.dirty || model.touched) && model.valid)" class="fa fa-check"></em>
                <em *ngIf="(iconfeedback && (model.dirty || model.touched) && !model.valid)" class="fa fa-times icon-error"></em>
                <em *ngIf="suffixiconclass"  [ngClass]="suffixiconclass"></em>
        </div>

        <input-help *ngIf="(enablepopover && showerror)" [error-msg]="errormsg" [min-msg]="minmsg" [max-msg]="maxmsg"></input-help>
</div>
